<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109374290454-b43r8c576r7u73til5uk2bd4l9sho7b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109374290454-b43r8c576r7u73til5uk2bd4l9sho7b2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109374290454-4k3p0idc0pnvpcilgmt6rq9pdbakrbuh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAm6vc763jdC7yavVcneFrGd8YLkhl5uHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>109374290454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutor</string>
	<key>PROJECT_ID</key>
	<string>tutor-541b4</string>
	<key>STORAGE_BUCKET</key>
	<string>tutor-541b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109374290454:ios:b4d2d27c324f2f6742d337</string>
</dict>
</plist>